/* <style>
*{
    margin: 0;
    padding: 0;
    background-color: white;
}

.map {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0;
    width: 360px;
    border-top: 360px solid rgb(0, 66, 128);
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
    grid-gap: 5rem;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 50px 50px 50px;
}

.map:after{
    position: absolute;
    content: '';
    border-bottom: 360px solid rgb(0, 66, 128);
    border-left: 360px solid transparent;
    border-right: 360px solid transparent;
    bottom: 360px;
    left: -180px;
    grid-gap: 5rem;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 50px 50px 50px;
  }
 </style> */
.map {
    width: 300px;
    height: 300px;
    background-color: #0a4715;
    padding: 100px;
    display: grid;
    grid-gap: 5rem;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 50px 50px 50px;
}

.button {
    border-radius: 25%;
    text-align: center;
    line-height: 50px;
}

.location {
    border-radius: 100%;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    line-height: 50px;
    font-size: x-small;
}

.location.town {
    border-style: dashed;
    border-color: #dc143c;
}

.location.road {
    border-style: solid;
    border-color: #00ff22;
}

.mountain {
    border-radius: 100%;
    text-align: center;
    width: 75px;
    height: 75px;
    background-color: #ffffff;
    line-height: 75px;
    border-style: dashed;
    border-color: #0000ff;
    font-size: small;
}